{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    <section>
        <div class="flex items-center text-sm gap-3 mt-[3rem]">
            <a href="" class="font-medium text-gray-500">Home ></a><a href="" class="font-medium">Categories</a>
        </div>
        <div class="mt-[3rem] ">
            <h1 class="text-4xl font-bold tracking-tight ">Categories</h1>
        
            <div class="flex items-center gap-6 mt-7">
                {% for c in category|slice:":6" %}
                <a href="{% url 'detail' c.id %}">
                    <img src="{{c.image.url}}" alt="" class="h-[10rem] w-[12rem] object-cover rounded-xl">
                    <p class="font-semibold text-sm mt-1">{{c.title}}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
    